.body, *{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			
		}

.fixed-width{
	margin: 0 auto;
	width: 75%;
}
.nav-bar{
	margin: 0 auto;
}

.head{
	font-family: 'Merriweather', serif;
	font-size: 30px;
	color: #12b8ff;
	position: relative;
	bottom: 1em;
}
#head img{
	width: 20vw;
	position: relative;
	left: 24vw;
}
nav{
	width: 100%;
	background-color: #2767d4;
}
.nav-bar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: left;

}

.nav-bar ul li a{
	text-decoration: none;
	display: block;
	text-align: center;
	color: whitesmoke;
	padding: 15px;
	font-size: "TimesNewRoman", Times, serif;
}
.nav-bar ul li{
	float : left;

}
.nav-bar a:hover,
.nav-bar > ul > a:active{
	background-color: whitesmoke;
	color: black;
}

.dropdown img{
	width: 44px;
	padding: 1px;
}
.dropbtn {
	border: none;
	background-color: #2767d4;
}

.dropdown {
	position: relative;
	display: inline-block;
	float: right;
}

.dropdown_content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 220px;
	box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown_content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 18px;
}
.dropdown_content p{
	color: black;
	padding: 10px 12px;
	display: block;
	background-color: lightgrey;
	font-size: 16px;
}
.dropdown_content a:hover{
	background-color: lightblue;
}

.dropdown:hover .dropdown_content {
	display: block;
}
.dropdown:hover button{
	background-color: white;
}
.image_container{
	margin: 10px 0;
	position: relative;
	text-align: center;
}
.image_container img{
	width: 100%;
	height: 450px;
}

.image_container h2{
	width: 100%;
	font-size: 40px;
	color: white;
	margin: 5px;
	position: absolute;
	top: 0;
}
.image_container p{
	font-size: 1vw;
	width: 100%;
	color: white;
}
.text_one p{
	position: absolute;
	top: 115px;
}
.text_two p{
	position: absolute;
	top: 175px;
}
.text_three p{
	position: absolute;
	top: 230px;
	left: 20px;
	font-size: 0.9vw;
	font-family: "Times new roman";
}
.heading{
	margin: 20px;
}
.heading h2{
	font-size: 25px;
	font-family: 'Arvo', serif;
	text-align: center;
	border-bottom: 2px solid powderblue;
}
.chat_container{
	overflow-y: scroll; 
	height:600px;
	background-color: rgba(77, 168, 218,0.4);
	border-radius: 10px;
}
.chat_box{
	width: 80%;
	border: 2px solid rgba(0,0,0,0.2);
	margin: 10px;
	padding: 15px;
	position: relative;
	border-radius: 5px;
}
.bot{
	background-color: rgba(155, 175, 179,0.2);
}
.user{
	background-color: rgba(144, 240, 190,0.7);
}
.reply{
	background-color: rgba(124, 242, 222, 0.2);
}
.chat_box img{
	width: 10%;
}
.chat_box .name_holder{
	position: absolute;
	top: 0;
	margin: 5px;
	font-family: "Courier New";
}
.chat_box .message_holder{
	font-family: Times;
	font-size: 15px;
	text-align: justify;
}
.patient{
	color: blue;
}
.bot_reply{
	color: light
}
.doctor{
	color: green;
}
.message_holder{
	position: absolute;
	top: 25%;
	left: 15%;
	margin: 10px;
}

.time_holder{
	position: absolute;
	bottom: 0;
	right: 7%;
	margin: 5px;
}
.chat{
	margin: 15px;
}
.chat textarea{
	width: 80%;
	padding: 10px;
	border: none;
}
.chat .btn{
	background-color: #007CC7;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 15px;
	margin: 10px 7px;
	border: none;
	color: white;
}
.note_container p{
	margin: 25px 0;
	font-family: 'Lora', serif;
	font-size: 20px;
}
.table_container{
	margin: 10px;
	padding: 15px 10px;
	background-color: rgba(202, 210, 222,0.4);
}
.table_container caption{
	font-family: 'Arvo', serif;
	font-size: 20px;
}
.table_container table th{
	background-color: rgb(26, 207, 235);
	font-size: 22px;
	color: rgba(0, 0, 0, 0.7);
}
.table_container table{
	border-collapse: collapse;
	width: 100%;
}
.table_container td,th{
	padding: 20px;
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
}
.table_container tr:nth-child(even){
	background-color: rgba(161, 198, 255, 0.6);
}
.icon_container img{
	width: 10%;
	margin: 20px;
	padding: 5px 10px;
}
